* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  width: 100%;
  background: #171717;
}

section nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  background: #171717;
}

section nav .logo h1 {
  font-size: 25px;
  color: #1a52eb;
}

section nav .logo h1 span {
  color: #1a52eb;
  margin-left: 8px;
}

section nav ul {
  list-style: none;
}

section nav ul li {
  display: inline-block;
  margin: 0 5px;
}

section nav ul li a {
  color: #1a52eb;
  text-decoration: none;
  transition: 0.4s;
}

section nav ul li a:hover {
  color: #f4ecf7;
}

.searchbar {
  width: 100%;
  height: auto;
  padding: 0 0 40px 0;
  background-color: #171717;
}

.searchbar h1 {
  text-align: center;
  color: #ffe100;
}

.searchbar .news_card {
  width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.searchbar .news_card input {
  width: 550px;
  height: 55px;
  margin-top: 20px;
  border-radius: 35px;
  border: 3px solid #1a52eb;
  padding: 0 10px;
  outline: none;
  background: none;
  color: #cccccc;
}

.searchbar .news_card button {
  position: absolute;
  right: 0;
  width: 100px;
  height: 45px;
  border-radius: 25px;
  margin-top: 20px;
  margin-right: 8px;
  border: 0;
  outline: none;
  background-color: #1a52eb;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.List {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 421px;
  background: #171717;
}

.List .books {
  width: 95%;
  margin: 0 auto;
}

.List .books h1 {
  color: #1a52eb;
  margin-bottom: 20px;
}

.List .books .box {
  display: flex;
  align-items: center;
}

.List .books .box .card {
  width: 80%;
  height: 400px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.List .books .box .card .details {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.List .books .box .card:hover .details {
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.List .books .box .card .details .left {
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.List .books .box .card:hover .details .left {
  opacity: 1;
  transform: translateX(0);
}

.List .books .box .card .details .left p.name {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.List .books .box .card .details .left .date_price {
  display: flex;
  align-items: center;
}

.List .books .box .card .details .left .date_price p.price {
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.List .books .box .card .details .left .date_price p.date {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.List .books .box .card .details .left .info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.List .books .box .card .details .left .info .rate {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.List .books .box .card .details .left .info .rate i {
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.List .books .box .card .details .left .info .rate p {
  font-size: 12px;
}

.List .books .box .card .details .left .info .nbofpage {
  display: flex;
  align-items: center;
}

.List .books .box .card .details .left .info .nbofpage i {
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.List .books .box .card .details .left .info .nbofpage p {
  font-size: 12px;
  margin-left: 5px;
}

.List .books .box .card .details .right {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.List .books .box .card:hover .details .right {
  opacity: 1;
  transform: translateX(0);
}

.List .books .box .card .details .right i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.List .books .box .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

p.end {
  background: #171717;
  text-align: center;
  color: #cccccc;
  padding: 15px;
}

p.end span {
  color: #1a52eb;
}

footer {
  background-color: #1a52eb;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #1a52eb;

  position: relative;
  bottom: 0;
  width: 100%;
}

footer span {
  font-size: 20px;
  font-weight: bold;
}